body{
	background-color: white;

}

.top-bar{
	background: #124b8e;
	height: 50px;
	/*margin-bottom: 60PX; */
}

h1{

	color: white;
	font-family: auto;
	font-size: 25px;
	padding: 10px;
}

#mainForm{
	padding: 50px;
	margin-top: 35px;
	margin-bottom: 35px;
}

.downBar{
	background: #124b8e;

	height: 80%;


}
